version: '3.8'
services:
  mqtt-broker:
    image: eclipse-mosquitto:2.0
    container_name: mqtt-broker
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    ports:
      - "1883:1883"
    networks:
      - mqttnet

  persistence-subscriber:
    build: ./subscriber
    container_name: persistence-subscriber
    environment:
      - PROCESS_ID=2
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
    depends_on:
      - mqtt-broker
    networks:
      - mqttnet

  # --- PUBLISHERS (5 instancias con prioridades diferentes) ---
  publisher-1:
    build: ./publisher
    container_name: publisher-1
    environment:
      - DEVICE_ID=sensor-1
      - PROCESS_ID=0
      - PROCESS_PRIORITY=10
      - ELECTION_PARTICIPANTS=sensor-1:10,sensor-2:20,sensor-3:30,sensor-4:40,sensor-5:50
      - WAL_PATH=/data/wal.log
    volumes:
      - ./data:/data
    depends_on:
      - mqtt-broker
    networks:
      - mqttnet

  publisher-2:
    build: ./publisher
    container_name: publisher-2
    environment:
      - DEVICE_ID=sensor-2
      - PROCESS_ID=1
      - PROCESS_PRIORITY=20
      - ELECTION_PARTICIPANTS=sensor-1:10,sensor-2:20,sensor-3:30,sensor-4:40,sensor-5:50
      - WAL_PATH=/data/wal.log
    volumes:
      - ./data:/data
    depends_on:
      - mqtt-broker
    networks:
      - mqttnet

  publisher-3:
    build: ./publisher
    container_name: publisher-3
    environment:
      - DEVICE_ID=sensor-3
      - PROCESS_ID=2
      - PROCESS_PRIORITY=30
      - ELECTION_PARTICIPANTS=sensor-1:10,sensor-2:20,sensor-3:30,sensor-4:40,sensor-5:50
      - WAL_PATH=/data/wal.log
    volumes:
      - ./data:/data
    depends_on:
      - mqtt-broker
    networks:
      - mqttnet

  publisher-4:
    build: ./publisher
    container_name: publisher-4
    environment:
      - DEVICE_ID=sensor-4
      - PROCESS_ID=3
      - PROCESS_PRIORITY=40
      - ELECTION_PARTICIPANTS=sensor-1:10,sensor-2:20,sensor-3:30,sensor-4:40,sensor-5:50
      - WAL_PATH=/data/wal.log
    volumes:
      - ./data:/data
    depends_on:
      - mqtt-broker
    networks:
      - mqttnet

  publisher-5:
    build: ./publisher
    container_name: publisher-5
    environment:
      - DEVICE_ID=sensor-5
      - PROCESS_ID=4
      - PROCESS_PRIORITY=50
      - ELECTION_PARTICIPANTS=sensor-1:10,sensor-2:20,sensor-3:30,sensor-4:40,sensor-5:50
      - WAL_PATH=/data/wal.log
    volumes:
      - ./data:/data
    depends_on:
      - mqtt-broker
    networks:
      - mqttnet

networks:
  mqttnet:
    driver: bridge
